.header {
  top: 0;
  width: 100vw;
  z-index: 100;
  font-size: 14px;
  font-weight: 600;
  line-height: 24.08px;
  color: get-color('white');
  background: get-color('mirage');

  @media screen and (min-width: 720px) and (max-width: 1280px) {
    font-size: 12px;
  }

  > .Wrap {
    height: 70px;

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      height: 53px;
    }

    @media screen and (max-width: 1280px) {
      padding: 0 15px;
    }
  }

  .header-nav {
    width: 100%;
  }

  .logo {
    height: 22px;
    max-width: 152px;
    margin-right: 39px;

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      max-width: 101px;
      margin-right: 15px;
    }

    @media screen and (max-width: 720px) {

    }

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: get-color('white');
      }
    }
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      padding: 0 7px;
      position: relative;

      @media screen and (min-width: 720px) and (max-width: 1280px) {
        padding: 0 5px;
      }

      &.SearchBar {
        padding: 0;
      }

      &.has-children {
        .fa-angle-down {
          margin-left: 7px;
          transition: transform 200ms ease-in-out;
        }

        &:hover {
          .fa-angle-down {
            transform: rotateX(180deg);
          }

          .submenu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .menu.external-links {
    .menu-item {
      padding: 0 15px;
      position: relative;

      @media screen and (min-width: 720px) and (max-width: 1280px) {
        padding: 0 7px;
      }

      &:last-of-type {
        padding-right: 0;
      }

      svg {
        margin-left: 10px;

        @media screen and (max-width: 1280px) {
          display: none;
        }
      }
    }
  }

  .submenu {
    left: 50%;
    top: 20px;
    opacity: 0;
    padding: 10px 0;
    min-width: 120px;
    border-radius: 4px;
    position: absolute;
    visibility: hidden;
    transform: translateX(-50%);
    background: get-color('white');
    transition: all 200ms ease-in-out;
    box-shadow: rgba(get-color('black'), 0.3) 0 2px 10px;

    &:before {
      content: '';
      left: 50%;
      top: -10px;
      display: block;
      position: absolute;
      transform: translateX(-50%);
      border-left: solid 20px transparent;
      border-right: solid 20px transparent;
      border-bottom: solid 20px get-color('white');
    }

    .menu-item {
      padding: 0 15px;
      line-height: 28px;

      &.active .nav-link {
        text-decoration: underline;
      }
    }

    .nav-link {
      color: get-color('black');
    }
  }

  .SearchBox {
    margin-right: 35px;
    position: relative;

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      margin-right: 15px;
    }

    input[role="searchbox"] {
      height: 38px;
      width: 354px;
      border-radius: 4px;
      padding-left: 43px;

      @media screen and (min-width: 720px) and (max-width: 1280px) {
        height: 32px;
        width: 119px;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    .search-icon {
      top: 11px;
      left: 12px;
      width: 15px;
      height: 15px;
      position: absolute;

      @media screen and (min-width: 720px) and (max-width: 1280px) {
        top: 11px;
        left: 10px;
        width: 10px;
        height: 10px;
      }
    }
  }

  .social-links {
    margin-top: 5px;
    padding: 10px 0 5px;
    line-height: initial;
    border-top: 2px solid get-color('black');

    .social {
      svg {
        width: 18px;

        path {
          fill: get-color('black');
        }
      }
    }
  }

  .cta {
    height: 44px;
    width: 134px;
    border-radius: 4px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: get-color('white');
    text-transform: uppercase;
    background: get-color('cerise-red');

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      height: 32px;
      font-size: 10px;
      max-width: 90px;
    }
  }

  .menu,
  .submenu {
    list-style-type: none;
  }

  .nav-link {
    text-decoration: none;
    color: get-color('white');

    &:hover {
      text-decoration: underline;
    }
  }
}