.navigation {
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 14px;
  font-weight: 600;
  line-height: 24.08px;
  color: get-color('white');
  background: get-color('mirage');

  @media screen and (min-width: 720px) and (max-width: 1280px) {
    font-size: 12px;
  }

  @media screen and (max-width: 720px) {
    font-size: 16px;
  }

  > .Wrap {
    height: 70px;

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      height: 53px;
    }

    @media screen and (max-width: 1280px) {
      padding: 0 15px;
    }
  }

  .header-nav {
    width: 100%;
  }

  .logo {
    height: 22px;
    max-width: 152px;
    margin-right: 39px;

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      max-width: 101px;
      margin-right: 15px;
    }

    @media screen and (max-width: 720px) {
      margin-right: 0;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: get-color('white');
      }
    }
  }

  .cta {
    height: 44px;
    width: 134px;
    border-radius: 4px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: get-color('white');
    text-transform: uppercase;
    background: get-color('cerise-red');

    @media screen and (min-width: 720px) and (max-width: 1280px) {
      height: 32px;
      font-size: 10px;
      max-width: 90px;
    }
  }

  .menu,
  .sub-menu {
    list-style-type: none;
  }

  .nav-link {
    text-decoration: none;
    color: get-color('white');

    &:hover {
      text-decoration: underline;
      text-decoration-width: 0.5px;
    }
  }

  .mobile-controls {
    margin-right: 0;
    margin-left: auto;

    .hamburger {
      margin-left: 20px;
    }

    .search-toggle {
      width: 20px;
      height: 20px;

      svg path {
        fill: get-color('white');
      }
    }
  }
}