.navigation {
  top: 0;
  width: 100%;
  z-index: 100;
  font-weight: 600;
  font-family: $font-family-secondary;
  line-height: 24.08px;
  color: get-color('white');
  background: get-color('resolution-blue');
  @include font-size(16px);

  @include media('<large') {
    @include font-size(12px);
  }

  @include media('<=small') {
    @include font-size(16px);
  }

  > .nav-wrapper {
    height: 87px;
    padding: 0 50px;

    @include media('<large') {
      height: 70px;
      padding: 0 35px;
    }
    @include media('<=small') {
      padding: 0 16px;
    }
    @include media('<=x-smaller') {
      height: 60px;
    }
  }

  .header-nav {
    width: 100%;
  }

  .logo {
    height: 22px;
    width: 157px;
    flex-shrink: 0;
    margin-right: 48px;

    @include media('>small', '<large') {
      width: 101px;
      margin-right: 22px;
    }

    @include media('<=small') {
      margin-right: 0;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: get-color('white');
      }
    }
  }

  .cta {
    padding: 7px 12px;
    margin-left: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    text-decoration: none;
    color: get-color('white');
    text-transform: none;
    white-space: nowrap;
    border: 1px solid get-color('white');
    background: transparent;
    @include font-weight('bold');
    @include font-size(14px);

    @include media('<=small') {
      margin: 0;
      font-size: 1rem;
      border: none;
      padding: 0;

      &::after {
        font-family: fontawesome;
        content: '\f061';
        font-size: 10px;
        font-weight: normal;
        right: 0;
        margin-left: 5px;
      }
    }
    @include media('<=x-smaller') {
      display: none;
    }
  }

  .menu--slideout {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }

  .menu,
  .sub-menu {
    list-style-type: none;
  }

  .nav-link {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: get-color('white');
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-decoration-width: 0.5px;
    }

    &.active {
      color: get-color('cerise-red');
    }
  }

  .mobile-controls {
    margin-right: 0;
    margin-left: auto;

    .hamburger {
      margin-left: 30px;
    }

    .search-toggle {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }

      svg path {
        fill: get-color('white');
      }
    }
  }
}