---
layout: master
---

<section class="Blog AuthorPage is-index">

	<article class="BlogPost">
		<header class="BlogPost-header">
			<h1 class="BlogPost-title">
				{% if page.avatar %}
				{% img '{{ page.avatar }}' alt:'{{ page.avatar }}' class:BlogPost-avatar %}
				{% endif %}
				<span>{{ page.full_name }}</span>
			</h1>
		</header>

		<div class="AuthorPage-social">
			{% if page.github %}
			<a href="{{ page.github }}" target="_blank" title="GitHub Profile"><i class="fa fa-github"></i></a>
			{% endif %}
			{% if page.twitter %}
			<a href="{{ page.twitter }}" target="_blank" title="Twitter Profile"><i class="fa fa-twitter"></i></a>
			{% endif %}
			{% if page.linkedin %}
			<a href="{{ page.linkedin }}" target="_blank" title="Linkedin Profile"><i class="fa fa-linkedin"></i></a>
			{% endif %}
			{% if page.web%}
			<a href="{{ page.web }}" target="_blank" title="Website"><i class="fa fa-external-link-square"></i></a>
			{% endif %}
		</div>

		{% if page.bio %}
		    <div class="BlogPost-content AuthorPage--bio">
		    	{{ page.bio }}
		    </div>
		{% endif %}

    <h4>All Posts by {{ page.full_name }}</h4>

	</article>

	{% assign filtered_posts = site.posts | where: 'author', page.id %}
	{% for post in filtered_posts %}

		<article class="BlogPost">
			<header class="BlogPost-header">
				<h1 class="BlogPost-title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h1>
        <div class="BlogPost-metadata">
          <!-- post dates -->
          <time class="BlogPost-date dt-published" datetime="{{ post.date | date: '%F'}}">{{ post.date | date: "%B %-d, %Y" }}</time>
          <span class="vertical-spacer md-hide"></span>
          <div>
            <!-- time to read -->
            <div class="BlogPost-readtime">
              {% include reading-time.html content=post.content %}
            </div>
          </div>
      </div>
			</header>
			<div class="BlogPost-content">
				{% if post.summary %}
					<p>{{ post.summary | strip_html }}</p>
				{% else %}
					<p>{{ post.content | strip_html | truncatewords:75 }}</p>
				{% endif %}
				<p><a class="BlogPost-more" href="{{post.url}}">Read more</a></p>
			</div>
		</article>

	{% endfor %}

</section>
