---
layout: master
show_bottom_cta: true
---

<link rel="me" href="https://social.oktadev.dev/@oktadev">

<section class="Blog is-index">

	{% for post in paginator.posts %}
		{% capture _post_content %}
			{% if post.summary %}
				<p>{{ post.summary | strip_html }}</p>
			{% else %}
				<p>{{ post.content | strip_html | truncatewords:75 }}</p>
			{% endif %}
			<p><a class="BlogPost-more" href="{{post.url}}">Read more</a></p>
		{% endcapture %}
		{% include blog_post.html post_content=_post_content %}
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="Blog-pagination">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">&laquo; Prev</a>
		{% endif %}

		<span class="page-number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  	</span>

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Next &raquo;</a>
		{% endif %}

	</div>
	{% endif %}

</section>
