<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% include head.html %}
<body>
	<div class="Page Page--docs-page">
		<!-- START Header -->
		{% include header.html %}
		<!-- END Header -->
		<!-- START Page Center w/Sub Nav & Content -->
		<section class="PageContent DynamicSidebar">
			<!-- START Fixed sidebar -->
			<aside class="Sidebar no-promo">
				<h2 class="Sidebar-location Sidebar-toggle h6">Navigation</h2>
				<div class="Sidebar-close Sidebar-toggle"></div>
				<div>
					<h3 class="Sidebar-title">Mobile</h3>
					<ul class="Sidebar-nav">
						{% assign indices = site.code | sort: 'id' %}
						{% for index in indices %}
						{% unless index.id contains '/index' %}
						{% continue %}
						{% endunless %}
						{% unless index.integration == 'mobile' %}
						{% continue %}
						{% endunless %}
						{% assign parts = index.id | split: "/" %}
						{% unless parts[3] contains 'index' %}
						{% continue %}
						{% endunless %}
						{% assign language = parts[2] %}
						{% assign element = index %}
						<li {% if element.language == page.language %}class="is-active"{% endif %}>
							<a href="/code/{{ language | prepend: site.baseurl }}/">{{ element.language | upcase }}</a>
						</li>
						{% endfor %}
					</ul>
					<h3 class="Sidebar-title">Front-end</h3>
					<ul class="Sidebar-nav">
						{% assign indices = site.code | sort: 'id' %}
						{% for index in indices %}
						{% unless index.id contains '/index' %}
						{% continue %}
						{% endunless %}
						{% unless index.integration == 'front-end' %}
						{% continue %}
						{% endunless %}
						{% assign parts = index.id | split: "/" %}
						{% unless parts[3] contains 'index' %}
						{% continue %}
						{% endunless %}
						{% assign language = parts[2] %}
						{% assign element = index %}
						<li {% if element.language == page.language %}class="is-active"{% endif %}>
							<a href="/code/{{ language | prepend: site.baseurl }}/">{{ element.language | upcase }}</a>
						</li>
						{% endfor %}
					</ul>
					<h3 class="Sidebar-title">Back-end</h3>
					<ul class="Sidebar-nav">
						{% assign indices = site.code | sort: 'id' %}
						{% for index in indices %}
						{% assign parts = index.id | split: "/" %}
						{% unless index.integration == 'back-end' %}
						{% continue %}
						{% endunless %}
						{% unless index.language == '.NET' %}
						{% continue %}
						{% endunless %}
						{% unless parts[4] contains 'index' %}
						{% continue %}
						{% endunless %}
						{% assign language = parts[2] %}
						{% assign framework = parts[3] %}
						{% assign element = index %}
						{% if framework == 'aspnetcore' %}
						<li {% if element.language == page.language and framework == 'aspnet' or framework == 'aspnetcore' %}class="is-active"{% endif %}>
							<a href="/code/{{ language | prepend: site.baseurl }}/{{ framework }}/">{{ element.language | upcase }}</a>
						</li>
						{% endif %}
						{% endfor %}

						{% for index in indices %}
						{% unless index.id contains '/index' %}
						{% continue %}
						{% endunless %}
						{% unless index.integration == 'back-end' %}
						{% continue %}
						{% endunless %}
						{% assign parts = index.id | split: "/" %}
						{% unless parts[3] contains 'index' %}
						{% continue %}
						{% endunless %}
						{% assign language = parts[2] %}
						{% assign element = index %}
						<li {% if element.language == page.language %}class="is-active"{% endif %}>
							<a href="/code/{{ language | prepend: site.baseurl }}/">{{ element.language | upcase }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</aside>
			<!-- END Fixed sidebar -->
			<!-- START Page Content -->
			<div class="PageContent-main language-content">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/documentation/">Docs</a></li>
					</ol>
				</nav>
				{{ content }}
			</div>
			<!-- END Page Content -->
		</section>
		<!-- END Page Center w/Sub Nav & Content -->
		<!-- START Footer -->
		{% include footer.html %}
		<!-- END Footer -->
	</div>
	<!-- START Post Footer -->
	{% include_cached post-footer.html %}
	<!-- END Post Footer -->
</body>
</html>
