<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6 no-flexbox"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 no-flexbox"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-flexbox"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-flexbox"> <![endif]-->
<!--[if IE 10 ]>    <html class="ie10 no-flexbox"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html class="modern wf-loading" lang="en"> <!--<![endif]-->
  {% include head.html %}
  {% if include.body_id %}{% assign body_id = include.body_id %}{% else %}{% assign active_page_name  = page.url | split: "/" | last | remove: ".html" %}{% assign split_url         = page.url | split: "/" %}{% assign body_id           = split_url[1] %}{% endif %}
    <body id="{{ body_id }}" class="{{ layout.body_class }}">
	{% include header.html %}
	<div class="page-content">
		{% if page.valprop %}
		<section id="valprop" class="section--full-width bg--light-blue">
			<div class="wrap">
			  <header>
					{% if page.valprop.title %}<h1>{{ page.valprop.title }}</h1>{% endif %}
					{% if page.valprop.description %}<p class="text--large">{{ page.valprop.description }}</p>{% endif %}
				</header>
				{% if page.valprop.show_cta %}
				<a href="{% if page.valprop.cta_link %}{{ page.valprop.cta_link }}{% else %}https://developer.okta.com/signup/{% endif %}" class="button--large">
					<span>{% if page.valprop.cta_label %}{{ page.valprop.cta_label }}{% else %}Get a Free Developer Account{% endif %}</span>
				</a>
				{% endif %}
			</div>
		</section>
		{% endif %}
		{{ content }}
		{% if page.show_bottom_cta %}
		<section id="bottom-cta" class="ProductSection--bottom-cta">
			<div class="Wrap">
				<header>
					<h2>Get Started with Okta Now!</h2>
					<p class="text--medium">Your identity layer is ready to go. Getting started takes just a few minutes.</p>
				</header>
				<a href="{{ site.get_started_url }}" class="Button--green Button--large"><span>Get a Free Developer Account</span></a>
			</div>
		</section>
		{% endif %}
	</div>
	{% unless page.hide_footer %}{% include footer.html %}{% endunless %}
  <!-- START Post Footer -->
  {% include_cached post-footer.html %}
  <!-- END Post Footer -->
</body>
</html>
