<footer class="Footer">
    <div class="Wrap">

        <div class="Row">
            <div class="Column--3 Column--medium-6 Column--xSmall-12">
                <a href="https://www.okta.com/" target="_blank" rel="noopener noreferrer">
                    <div class="Logo">
                        <img src="{{ site.external_domain }}/sites/all/themes/developer/images/logo-footer.png" alt="Okta">
                    </div>
                    <p>Visit okta.com</p>
                </a>
            </div>

            <div class="Column--3 Column--medium-12 Column--xSmall-12">
                <h4>Social</h4>
                <ul class="Footer-links Footer-links--social">
                    <li><a class="Footer-links--github" target="_blank" rel="noopener noreferrer" href="http://github.com/{{ site.github_username }}">Github</a></li>
                    <li><a class="Footer-links--twitter" target="_blank" rel="noopener noreferrer" href="http://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
                    <li><a class="Footer-links--forum" target="_blank" rel="noopener noreferrer" href="{{ site.dev_forum }}">Forum</a></li>
                    <li><a class="Footer-links--rss" target="_blank" rel="noopener noreferrer" href="http://feeds.feedburner.com/OktaDeveloperBlog">RSS Blog</a></li>
                    <li><a class="Footer-links--youtube" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC5AMiWqFVFxF1q9Ya1FuZ_Q/featured">YouTube</a></li>
                </ul>
            </div>

            <div class="Column--3 Column--medium-6 Column--small-12">
                <h4>More Info</h4>
                <ul class="Footer-links">
                    <li><a target="_blank" href="{{ site.external_domain }}/integrate-with-okta/">Integrate with Okta</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/docs/change-log/">Change Log</a></li>
                    <li><a href="/3rd_party_notices/">3rd Party Notices</a></li>
                    <li><a href="https://toolkit.okta.com/">Community Toolkit</a></li>
                </ul>
            </div>

            <div class="Column--3 Column--medium-6 Column--small-12">
                <h4>Contact &amp; Legal</h4>
                <ul class="Footer-links">
                    <li><a href="https://developer.okta.com/contact/">Contact our Team</a></li>
                    <li><a href="https://developer.okta.com/contact-sales-enterprise/">Contact Sales</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="mailto:developers@okta.com">Contact Support</a></li>
                    <li><a href="https://developer.okta.com/terms/">Terms &amp; Conditions</a></li>
                    <li><a href="https://developer.okta.com/privacy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

    {% js master %}
    {% js myOkta %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% for script in layout.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% if page.js %}
      {% js '{{page.js}}' %}
    {% endif %}
    {% if layout.js %}
      {% js '{{layout.js}}' %}
    {% endif %}
