<footer class="footer">
    <div class="wrap">
        <div class="row first-row">
            <p><i>Need support?</i> Contact <u><b>developers@okta.com</b></u> or ask on the <a class="anchor-highlight">forum.</a></p>
        </div>
        <div class="row flex-justify">
            <div class="social-links">
                <strong><a class="secondary-font small bold">SOCIAL</a></strong>
                <ul class="footer-links footer-links--social">
                    <li><a class="footer-link github" target="_blank" rel="noopener noreferrer" href="http://github.com/{{ site.github_username }}">Github</a></li>
                    <li><a class="footer-link twitter" target="_blank" rel="noopener noreferrer" href="http://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
                    <li><a class="footer-link youtube" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC5AMiWqFVFxF1q9Ya1FuZ_Q/featured">YouTube</a></li>
                    <li><a class="footer-link forum" target="_blank" rel="noopener noreferrer" href="{{ site.dev_forum }}">Forum</a></li>
                    <li><a class="footer-link rss" target="_blank" rel="noopener noreferrer" href="http://feeds.feedburner.com/OktaDeveloperBlog">RSS Blog</a></li>
                </ul>
            </div>

            <div class="social-links-small-only">
                <ul class="footer-links footer-links--social">
                    <li><a class="footer-link github" target="_blank" rel="noopener noreferrer" href="http://github.com/{{ site.github_username }}"></a></li>
                    <li><a class="footer-link twitter" target="_blank" rel="noopener noreferrer" href="http://twitter.com/{{ site.twitter_username }}"></a></li>
                    <li><a class="footer-link youtube" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC5AMiWqFVFxF1q9Ya1FuZ_Q/featured"></a></li>
                    <li><a class="footer-link forum" target="_blank" rel="noopener noreferrer" href="{{ site.dev_forum }}"></a></li>
                    <li><a class="footer-link rss" target="_blank" rel="noopener noreferrer" href="http://feeds.feedburner.com/OktaDeveloperBlog"></a></li>
                </ul>
            </div>

            <div class="contact-links">
                <strong><a class="secondary-font small bold">CONTACT & LEGAL</a></strong>
                <ul class="footer-links">
                    <li><a class="footer-link" href="https://developer.okta.com/contact/">Contact our Team</a></li>
                    <li><a class="footer-link"href="https://developer.okta.com/contact-sales-enterprise/">Contact Sales</a></li>
                    <li><a class="footer-link" href="https://developer.okta.com/terms/">Terms &amp; Conditions</a></li>
                    <li><a class="footer-link" href="https://developer.okta.com/privacy/">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="info-links">
                <strong><a class="secondary-font small bold">MORE INFO</a></strong>
                <ul class="footer-links">
                    <li><a class="footer-link" href="/pricing/">Pricing</a></li>
                    <li><a class="footer-link" target="_blank" href="{{ site.external_domain }}/integrate-with-okta/">Integrate with Okta</a></li>
                    <li><a class="footer-link" href="/docs/change-log/">Change Log</a></li>
                    <li><a class="footer-link" href="/3rd_party_notices/">3rd Party Notices</a></li>
                </ul>
            </div>

            <div class="external-links">
                <div class="external-url">
                    <a class="anchor-highlight secondary-font small bold new-tab" href="http://www.okta.com/" target="_blank">OKTA.COM</a>
                    <p>Products, case studies, resources</p>
                </div>
                <div class="external-url">
                    <a class="anchor-highlight secondary-font small bold new-tab" href="http://help.okta.com/" target="_blank">HELP CENTER</a>
                    <p>Knowledgebase, roadmaps, and more</p>
                </div>
                <div class="external-url">
                    <a class="anchor-highlight secondary-font small bold new-tab" href="http://trust.okta.com/" target="_blank">TRUST</a>
                    <p>System status, security, compliance</p>
                </div>
            </div>

            <div class="copyright">
                <p>Copyright © 2020 Okta.</p>
            </div>


        </div>
    </div>
</footer>

    {% js master %}
    <!-- Coveo -->
    <script src="{{ site.external_www_domain }}/sites/all/modules/okta_coveo_search_developer/js/lib/CoveoJsSearch.Lazy.min.js"></script>
    <script src="{{ site.external_www_domain }}/sites/all/modules/okta_coveo_search_developer/js/okta_coveo_search_developer.js"></script>

    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% for script in layout.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% if page.js %}
      {% js '{{page.js}}' %}
    {% endif %}
    {% if layout.js %}
      {% js '{{layout.js}}' %}
    {% endif %}
