
{% assign words_total = include.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
{% assign words_without_code = include.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}

{% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
{% assign words = words_without_code | plus: words_code | plus: words_math | round %}

{% assign ert = words | divided_by:250 | at_least: 1 %}
{{ ert }} min read
