<aside class="Sidebar">
  <h2 class="Sidebar-location Sidebar-toggle h6">Navigation</h2>
  <div class="Sidebar-close Sidebar-toggle"></div>
  <div>
    <h3 class="Sidebar-title"><a href = "/authentication-guide/">Authentication Guide</a></h3>
    <ul class="Sidebar-nav">
      <li{% if page.id contains '/auth-overview' %} class="is-active"{% endif %}>
        <a href = "/authentication-guide/auth-overview/">OAuth 2.0 Overview</a>
        {% if page.id contains "auth-overview" %}
          <ul>{% assign guides = site.authentication-guide | sort: 'weight' %}
            {% for guide in guides %}{% unless guide.id contains "auth-overview" %}{% continue %}{% endunless %}
              {% if guide.id contains "/index" %}{% continue %}{% endif %}
                <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                  <a href="{{ guide.id }}">{{ guide.title }}</a>
                </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      <li{% if page.id contains '/implementing-authentication' %} class="is-active"{% endif %}>
        <a href = "/authentication-guide/implementing-authentication/">Implementing OAuth 2.0</a>
        {% if page.id contains "implementing-authentication" %}
          <ul>{% assign guides = site.authentication-guide | sort: 'id' %}
            {% for guide in guides %}{% unless guide.id contains "implementing-authentication" %}{% continue %}{% endunless %}
              {% if guide.id contains "/index" %}{% continue %}{% endif %}
                <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                  <a href="{{ guide.id }}">{{ guide.title }}</a>
                </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      <li{% if page.id contains '/social-login' %} class="is-active"{% endif %}>
      <a href = "/authentication-guide/social-login/">Social Login</a>
      {% if page.id contains "social-login" %}
        <ul>{% assign guides = site.authentication-guide | sort: 'id' %}
          {% for guide in guides %}{% unless guide.id contains "social-login" %}{% continue %}{% endunless %}
            {% if guide.id contains "/index" %}{% continue %}{% endif %}
              <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                <a href="{{ guide.id }}">{{ guide.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
      <li{% if page.id contains '/saml-login' %} class="is-active"{% endif %}>
      <a href = "/authentication-guide/saml-login/">SAML Login</a>
      {% if page.id contains "saml-login" %}
        <ul>{% assign guides = site.authentication-guide | sort: 'weight' %}
          {% for guide in guides %}{% unless guide.id contains "saml-login" %}{% continue %}{% endunless %}
            {% if guide.id contains "/index" %}{% continue %}{% endif %}
              <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                <a href="{{ guide.id }}">{{ guide.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
      <li{% if page.id contains '/tokens' %} class="is-active"{% endif %}>
      <a href = "/authentication-guide/tokens/">Working With Tokens</a>
      {% if page.id contains "tokens" %}
        <ul>{% assign guides = site.authentication-guide | sort: 'weight' %}
          {% for guide in guides %}{% unless guide.id contains "tokens" %}{% continue %}{% endunless %}
            {% if guide.id contains "/index" %}{% continue %}{% endif %}
              <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                <a href="{{ guide.id }}">{{ guide.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
      <li{% if page.id contains '/genericoidc' %} class="is-active"{% endif %}>
      <a href = "/authentication-guide/generic-oidc/">Generic OpenID Connect IdP</a>
      {% if page.id contains "generic-oidc" %}
        <ul>{% assign guides = site.authentication-guide | sort: 'weight' %}
          {% for guide in guides %}{% unless guide.id contains "generic-oidc" %}{% continue %}{% endunless %}
            {% if guide.id contains "/index" %}{% continue %}{% endif %}
              <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                <a href="{{ guide.id }}">{{ guide.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
      <!--
      <li{% if page.id contains '/custom-login' %} class="is-active"{% endif %}>
      <a href = "/authentication-guide/custom-login/">Customizing Login</a>
      {% if page.id contains "custom-login" %}
        <ul>{% assign guides = site.authentication-guide | sort: 'weight' %}
          {% for guide in guides %}{% unless guide.id contains "custom-login" %}{% continue %}{% endunless %}
            {% if guide.id contains "/index" %}{% continue %}{% endif %}
              <li{% if guide.title == page.title %} class="is-active"{% endif %}>
                <a href="{{ guide.id }}">{{ guide.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    -->
    </ul>

    <h3 class="Sidebar-title">Use Cases</h3>
    <ul class="Sidebar-nav">{% assign documents = site.use_cases | where:'hidden', 'false' | sort: 'weight' %}{% for document in documents %}{% unless document.id contains '/index' %}{% continue %}{% endunless %}
      <li{% if document.url == page.url%} class="is-active"{% endif %}>
        <a href="{{ document.url | remove: '/index' | append: '/'}}">{{ document.title }}</a>
      </li>{% endfor %}
    </ul>

    <h3 class="Sidebar-title">API Reference</h3>
    <ul class="Sidebar-nav">
      <li>
        <a href="/docs/api/resources/oidc">Sign in Your Users</a>
        {% if page.id contains "docs/api/resources" %}
          <ul id="Sidebar_References" class="Sidebar-hide">
            {% assign auth_references = site.docs | where: 'category', 'authentication' | sort: 'weight' %}
            {% for doc in auth_references %}
              <li{% if doc.title == page.title%} class="is-active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      <li>
        <a href="/docs/api/resources/roles">Manage Okta Resources</a>
        {% if page.id contains "docs/api/resources" %}
          <ul id="Sidebar_Resources" class="Sidebar-hide">
            {% assign api_references = site.docs | where: 'category', 'management' | where_exp: 'item', 'item.deprecated != true' | sort: 'title' %}
            {% for doc in api_references %}
              {% if doc.beta %}{% continue %}{% endif %}
              <li{% if doc.title == page.title%} class="is-active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      <li{% if page.title contains '/getting_started' %} class="is-active"{% endif %}>
        <a href="/docs/api/getting_started/design_principles">API Concepts</a>{% if page.id contains "docs/api/getting_started" %}
        <ul>{% assign docs = site.docs | sort: 'weight' %}{% for doc in docs %}{% unless doc.id contains "docs/api/getting_started" %}{% continue %}{% endunless %}{% if doc.id contains "/index" %}{% continue %}{% endif %}
          <li{% if doc.title == page.title%} class="is-active"{% endif %}>
            <a href="{{ doc.id }}">{{ doc.title }}</a>
          </li>{% endfor %}
        </ul>{% endif %}
      </li>{% assign documents = site.reference %}{% for document in documents %}{% if document.id contains "docs/api/getting_started" %}{% continue %}{% endif %}{% if document.id contains "docs/api/resources" %}{% continue %}{% endif %}{% if document.id contains "reference/api_reference" %}{% continue %}{% endif %}{% if document.id contains "reference/getting_started" %}{% continue %}{% endif %}{% if document.id contains "reference/authentication_reference" %}{% continue %}{% endif %}{% if document.id contains 'reference/index' %}{% continue %}{% endif %}{% if document.id contains 'reference/api_concepts' %}{% continue %}{% endif %}
      <li{% if document.title == page.title or page.title contains document.title %} class="is-active"{% endif %}>
        <a href="{% if document.id contains '/index' %}{{ document.url | remove: '/index' | append: '/'}}{% else %}{{ document.link }}{% endif %}">{{ document.title }}</a>
      </li>{% endfor %}
    </ul>

    <h3 class="Sidebar-title">Change Log</h3>
    <ul class="Sidebar-nav">
      {% assign elements = site.change-log %}
      {% for element in elements %}
      {% unless element.id contains '/index' %}{% continue %}{% endunless %}
      <li{% if element.title == page.title%} class="is-active"{% endif %}>
        <a href="{{ element.url | remove: '.html' }}">{{ element.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h3 class="Sidebar-title">How-To</h3>
    <ul class="Sidebar-nav">
      {% assign elements = site.docs %}
      {% for element in elements %}{% unless element.id contains "docs/how-to/" %}{% continue %}{% endunless %}
      <li{% if element.title == page.title%} class="is-active"{% endif %}>
        <a href="{{ element.url | remove: '.html' }}">{{ element.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <script nonce="okt@dev">
      if (document.querySelectorAll("#Sidebar_Resources .is-active").length) {
        document.getElementById('Sidebar_Resources').classList.remove('Sidebar-hide');
      }

      if (document.querySelectorAll("#Sidebar_References .is-active").length) {
        document.getElementById('Sidebar_References').classList.remove('Sidebar-hide');
      }
    </script>
  </div>
</aside>
