Head on over to [developer.okta.com/signup](https://developer.okta.com/signup) if you'd like to do this in your browser.

If you prefer the command line, install the [Okta CLI](https://github.com/oktadeveloper/okta-cli). Run `okta register` to sign up for a new account.

Log in to your Okta Developer account or use `okta apps create`. If you use your browser, go to **Applications** > **Add Application**.

On the Create New Application page, select **{{ include.type | capitalize }}**. Name your app `{{include.name}}`, and configure it as follows:

* Login redirect URI{% if include.type == "native" %}s{% endif %}:
  * `http://localhost:{{ include.port }}/callback`
{% if include.type == "native" %}
  * `com.okta.dev-133337:/callback` (where `dev-133337.okta.com` is your Okta Org URL)
{% endif %}

* Logout redirect URI{% if include.type == "native" %}s{% endif %}:
  * `http://localhost:{{ include.port }}/logout`
{% if include.type == "native" %}
  * `com.okta.dev-133337:/logout`
{% endif %}

* Grant type{% if include.type == "native" or "web" %}s{% endif %} allowed:
  * **Authorization Code**
{% if include.type == "native" or "web" %}
  * **Refresh Token**
{% endif %}

Click **Done** to continue.
