.menu {
  margin: 0;
  padding: 0;

  &.external-links {
    .menu-item {
      padding: 0 15px;
      position: relative;

      @include media('>small', '<medium') {
        padding: 0 7px;
      }
      @include media('<=small') {
        padding: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      &.active {
        color: get-color('french-rose');
      }

      svg {
        margin-left: 10px;

        @include media('<medium') {
          display: none;
        }
      }
    }
  }

  .menu-item {
    padding: 0 7px;
    position: relative;

    @include media('>=small', '<medium') {
      padding: 0 5px;
    }

    &.SearchBar {
      padding: 0;
    }

    &.has-children {
      .fa-angle-down {
        margin-left: 7px;
        transition: all 200ms ease-in-out;
      }

      &:hover {
        .fa-angle-down {
          transform: rotate(180deg);
        }

        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .sub-menu {
    @include media('>small') {
      left: 50%;
      top: 15px;
      opacity: 0;
      padding: 10px 0;
      min-width: 120px;
      border-radius: 4px;
      position: absolute;
      visibility: hidden;
      transform: translateX(-50%);
      background: get-color('white');
      transition: all 200ms ease-in-out;
      box-shadow: rgba(get-color('black'), 0.3) 0 2px 10px;
    }

    &:before {
      content: '';
      left: 50%;
      top: -10px;
      display: block;
      position: absolute;
      transform: translateX(-50%);
      border-left: solid 20px transparent;
      border-right: solid 20px transparent;
      border-bottom: solid 20px get-color('white');
    }

    .menu-item {
      padding: 0 15px;
      line-height: 28px;

      &.active .nav-link {
        text-decoration: underline;
      }
    }

    .nav-link {
      color: get-color('black');
    }
  }

  .social-links {
    margin-top: 5px;
    padding: 10px 0 5px;
    line-height: initial;
    border-top: 2px solid get-color('black');

    .social {
      svg {
        width: 18px;

        path {
          fill: get-color('black');
        }
      }
    }
  }
}
