.search-wrapper {
  width: 100%;
  max-width: 336px;
  margin-right: 38px;
  background: get-color('white');
  height: 38px;
  border-radius: 4px;

  @include media('>small', '<=large') {
    max-width: 168px;
    margin-right: 15px;
  }

  @include media('<=small') {
    max-width: 100%;
    height: auto;
    border: 1px solid get-color('alto');
    margin: 0 0 29px;
  }

  &.menu-item {
    padding: 0;
  }
}

.CoveoSearchInterface.search-box {
  min-width: unset;
  position: relative;

  .search--form {
    display: flex;
  }

  .search-icon {
    top: 11px;
    left: 12px;
    z-index: 1;
    width: 15px;
    height: 15px;
    position: absolute;
    color: get-color('mine-shaft');

    path {
      fill: get-color('resolution-blue');
      @include media('<=small') {
        fill: get-color('shark');
      }
    }
  }

  .CoveoOmnibox.magic-box {
    flex-grow: 0;
    width: 100%;

    .magic-box-suggestions {
      top: 100%;
      left: 1px;
      margin-top: 1px;
      background: white;
      position: absolute;
      width: calc(100% - 2px);
      color: get-color('mine-shaft');
      font-family: arial, sans-serif;
      box-shadow: rgba(get-color('black'), 0.3) 0 2px 10px;

      @include font-size(16px);
      @include font-weight('small');

      .magic-box-suggestion {
        cursor: pointer;
        padding: 8px 16px;

        &:hover {
          background: rgba(get-color('loblolly'), 0.2);
        }
      }

      .coveo-magicbox-suggestions {
        border: none;
      }
    }

    .magic-box-input,
    .magic-box-underlay,
    input[role="searchbox"] {
      width: 100%;
      height: 38px;
      font-size: 14px;
      border-radius: 4px;
      padding-left: 40px;
      padding-right: 12px;
      color: get-color('mine-shaft');
      font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;

      @include font-size(14px);
      @include font-weight('small');

      @include media('>=small', '<large') {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    .magic-box-clear,
    .magic-box-underlay {
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
    }

    input[role="searchbox"] {
      top: 0;
      left: 0;
      position: absolute;

      &::placeholder {
        font-family: inherit;
        font-weight: inherit;
        color: get-color('dove-gray');
      }
    }
  }

  .CoveoSearchButton {
    color: get-color('resolution-blue');
    border: none;
    height: auto;
    width: 94px;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid get-color('resolution-blue');
    box-sizing: content-box;
    font-size: 14px;
    font-weight: 600;
    @include media('<=large') {
      display: none;
    }
  }
}

.mobile-search-container {
  @include media('<=small') {
    padding: 16px;

    .search-box {
      width: 100%;
      margin-right: 0;
    }

    input[role="searchbox"] {
      width: 100%;
      padding-left: 19px;
    }
  }
}
