.search-box {
  margin-right: 35px;
  position: relative;

  @include media('<medium') {
    margin-right: 15px;
  }

  input[role="searchbox"] {
    height: 38px;
    width: 354px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    padding-left: 43px;
    color: get-color('black');

    @include media('>=small', '<medium') {
      height: 32px;
      width: 119px;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  .search-icon {
    top: 11px;
    left: 12px;
    width: 15px;
    height: 15px;
    position: absolute;

    @include media('>=small', '<medium') {
      top: 11px;
      left: 10px;
      width: 10px;
      height: 10px;
    }
  }
}

.mobile-search-container {
  padding: 16px;

  .search-box {
    width: 100%;
    margin-right: 0;
  }

  input[role="searchbox"] {
    width: 100%;
    padding-left: 19px;
  }
}
